.contact-container {
  /*border:1px solid pink;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  background-color: #fff;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: auto;
  margin: 1rem 0.7rem;
}

.contact-section {
  padding: 1rem;
  /*border: 1px solid red;*/
}
.contact-section h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: clamp(1.1rem, 1.4vw, 1.2rem);
  display: inline-block;
  margin-bottom: 20px;
}
.contact-title {
  text-align: left;
  text-transform: capitalize;
  background-image: linear-gradient(transparent 68%, #ff7961 0%);
  background-repeat: no-repeat;
  background-size: 100% 250%;
  background-position: 0% 65%;
  transition: background-position 0.5s ease 0s;
  display: inline-block;
  /*text-decoration: underline dashed #ff7961 5px;*/
}

.contact-title:hover {
  background-position: 0% 100%;
}

.cont-line {
  border: 1px solid rgba(255, 222, 216, 0.7);
  border-radius: 3px;
  margin: 0.7rem auto;
  padding: 0.2rem;
}

.cont-desc {
  display: inline-block;
  color: #777;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: clamp(0.8rem 1.2vw, 1.3rem);
  /*border:1px solid red;*/
}
.contact-desc-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  color: #000;
}

span.contact-icon {
  border: 1px solid transparent;
  margin-right: 10px;
  color: #f44336;
}
.desc-social {
  /*border:1px solid red;*/
  padding: 1rem 0;
  margin: 1rem auto;
}
.desc-social li {
  margin-right: 1.5rem;
}

.contact-section form {
  margin-top: 10px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

.contact-section input {
  width: 50%;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(255, 222, 216, 0.7);
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}
.contact-section input:focus,
.contact-section textarea:focus {
  outline: none;
}
.contact-section input::placeholder,
.contact-section textarea::placeholder {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: clamp(0.8rem 1.2vw, 1.3rem);
  font-weight: bold;
}

.contact-section textarea {
  width: 90%;
  margin: 20px 0px;
  font-size: 14px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid rgba(255, 222, 216, 0.7);
}

@media screen and (max-width: 899px) {
  .contact-container {
    margin: 1.5rem 0;
  }
}
