.portfolio-container {
  /*border:1px solid pink;*/
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: auto;
  margin: 1rem 0.7rem;
}
.portfolio-section {
  padding: 1rem;
  /*border:1px solid green;*/
}
.portfolio-section h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: clamp(1.2rem, 1.4vw, 0.9rem);
  display: inline-block;
  margin-bottom: 20px;
}
.portfolio-title {
  text-align: left;
  text-transform: capitalize;
  background-image: linear-gradient(transparent 68%, #ff7961 0%);
  background-repeat: no-repeat;
  background-size: 100% 250%;
  background-position: 0% 65%;
  transition: background-position 0.5s ease 0s;
  display: inline-block;
  /*text-decoration: underline dashed #ff7961 5px;*/
}
.portfolio-title:hover {
  background-position: 0% 100%;
}
@media screen and (max-width: 899px) {
  .portfolio-container {
    margin: 1.5rem 0;
  }
}
