.resume-container {
  /*border:1px solid pink;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  background-color: #fff;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: auto;
  margin: 1rem 0.7rem;
}

.resume-container h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: clamp(1.1rem, 1.4vw, 1.2rem);
  display: inline-block;
  margin-bottom: 20px;
}
h3.resume-title {
  text-align: left;
  text-transform: capitalize;
  background-image: linear-gradient(transparent 68%, #ff7961 0%);
  background-repeat: no-repeat;
  background-size: 100% 250%;
  background-position: 0% 65%;
  transition: background-position 0.5s ease 0s;
  /*text-decoration: underline dashed #ff7961 5px;*/
}

h3.resume-title:hover {
  background-position: 0% 100%;
}

.resume-section,
.project-section,
.test-section {
  padding: 1rem;
}
.project-section {
  background-color: rgb(255, 248, 247);
  /*margin:2rem 0;*/
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.timeline-container-wrap {
  /*border:1px solid salmon;*/
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 0.5rem 0 2rem 0;*/
}
.timeline-card {
  width: 100%;
  /*border:1px solid red;*/
  /*padding:1rem 0;*/
}

@media screen and (max-width: 899px) {
  .resume-container {
    margin: 1.5rem 0;
  }
  /*.timeline-container-wrap{
      flex-direction: column;
  }*/
}
@media screen and (max-width: 800px) {
  .timeline-container-wrap {
    flex-direction: column;
  }
}
