/*.test-container{
    border:1px solid red;
}
.test-card{
    border:1px solid green;
}*/
.test-wrap {
  /*border:1px solid yellow;*/
  padding: 1rem 0;
}
.test-card-wrap {
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
  border-radius: 6px;
  margin: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.test-img {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5rem;
}
h3.test-title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: clamp(1.2rem, 1.4vw, 0.9rem);
  margin-top: 0.5rem;
  /*border:1px solid red;*/
}
.test-client {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: clamp(0.9rem, 1vw, 0.7rem);
  display: inline-block;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 5px;
  /*border:1px solid red;*/
}
.test-desc {
  color: #989898;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  padding: 0.5rem 0;
  margin: 0.5rem;
}
